@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #95aebc;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #111b21;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.text-input {
  border: 1.5px solid #41525d;
  border-radius: 4px;
  padding: 0.4rem;
}

.outgoing-message {
  position: relative;
  align-self: end;
  background-color: #005c4b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.outgoing-message::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/outgoing-message.svg");
}

.incoming-message {
  position: relative;
  align-self: start;
  background-color: #304450;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.incoming-message::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/incoming-message.svg");
}
